<h2>UROPs</h2>
<p>
              I am happy to supervise MIT students through the <a href="https://urop.mit.edu/">Undergraduate Research Opportunities Program</a>.  Topics may include algorithm development in computational number theory, contributions to open source <a href="/software/">software and databases</a>, use of machine learning to find patterns in number theoretic data, and formalization of number theoretic results in Lean's <a href="https://leanprover-community.github.io/mathlib-overview.html">Mathlib</a>.  Please <a href="/contact/">contact me</a> if you are interested!  Keep in mind the relevant <a href="https://urop.mit.edu/deadlines/audience/students/">deadlines</a>.
            </p>
<h2>PhD Students</h2>
<p>
              I am not currently advising PhD students.  Undergraduates interested in coming to MIT for graduate school should consult the <a href="https://math.mit.edu/academics/grad/admission/">department admission page</a>.
            </p>
<h2>Undergraduates</h2>
<p>
              I am not able to supervise research projects for undergraduates at other universities.  If you are a US citizen or permanent resident, the NSF runs <a href="https://www.nsf.gov/funding/undergraduates">Research Experiences for Undergraduates</a> at locations throughout the United States.  Your university may also have local research opportunities analogous to UROPs.
            </p>
<h2>High school students</h2>
<p>
              I am not able to supervise research projects for high school students.  There are several programs that offer research experiences for advanced high school students: <a href="https://math.mit.edu/research/highschool/rsi/">RSI</a>, <a href="https://math.mit.edu/research/highschool/primes/">PRIMES</a> and <a href="https://math.mit.edu/research/highschool/primes/other.html">others</a>.
            </p><p>
</p>
